{% extends 'base.html.twig' %}
{% block title %} Home {% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
{#Image slider#}

{% for message in app.flashes('purchase') %}
    <div class="overflow"></div>
    <div class="purchase-box">
        {{ message }}
        <button class="btn btn-primary mt-3" onclick="window.location.reload()">
            Close
        </button>
    </div>

{% endfor %}
<div id="home-slider" class="home-header" style="background-image:linear-gradient(to right, #ff000040, #002dff82), url('https://picsum.photos/1400/600')">
    <div class="home-content">
        <h1 class="primary-text">Welcome to ArtShop</h1>
       <p class="secondary-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, odit.
       </p>
    </div>
</div>
<section class="about">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 img">
                    <img src="https://picsum.photos/400/300?grayscale" alt="about">
                </div>
                <div class="col-md-6">
                    <h2 class="mb-5">About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad delectus eius maiores modi numquam quibusdam repellendus saepe
                        sapiente velit! Alias eius fugiat iusto numquam ullam. Aut dolore et molestiae quia saepe sequi velit.
                        Accusantium corporis dolor doloribus ex iusto magni minima neque nihil pariatur placeat, praesentium quas quod unde voluptate.
                    </p>
                    <a href="#" class="btn secondary-btn">
                        Read More <i class="fas fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="works" id="works">
    <div class="inner">
        <div class="container">
                <h2 class="center">Leates Works</h2>
                <div class="primary-line mb-5 "></div>
                <div class="row">
                    {% for work in works %}
                    <div class="col-md-4">
                        <div class="items mb-3">
                            <img src="{{vich_uploader_asset(work, 'imageFile') }}" alt="{{ work.title }}">
                            <div class="item-info">
                                <a href="{{ path('work_by_id', {'id':work.id}) }}">
                                    <h5>Shop Now <i class="fas fa-angle-right"></i></h5>
                                </a>
{#                                <a href="{{ path('work_by_id', {'id':work.id}) }}">#}
{#                                   <b> More Info <i class="fas fa-angle-right"></i></b>#}
{#                                </a>#}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </div>
</section>

{#End of work section#}

{% include 'footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#menu-icon').on('click', function(){
                $('.navbar').toggleClass('expand');
                return false;
            });
        });
    </script>
{% endblock %}