{% extends 'base.html.twig' %}

{% block title %} Products {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('css/lightbox/dist/css/lightbox.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %}
{% include 'nav.html.twig' %}

<div class="secondary-banner">
    <h1 class="center"> Products </h1>
</div>

<div class="inner">
    <div class="container">
            <div class="row">
                {% for item in products %}
                    <div class="col-md-4">
                        <div class="products">
                            <div class="products__img">
                                <a href="{{vich_uploader_asset(item, 'imageFile') }}" rel="lightbox" data-lightbox="{{item.title}}" data-title="{{item.title}}">
                                    <img src="{{vich_uploader_asset(item, 'imageFile') }}">
                                </a>
                            </div>
                            <div class="products__content">
                                <h4>
                                    <a href="{{ path('work_by_id', {'id': item.id}) }}"> {{ item.title }} </a>
                                </h4>
                                <span>{{ item.price }} EUR</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('css/lightbox/dist/js/lightbox-plus-jquery.min.js') }}"></script>
    <script src="{{asset('css/lightbox/js/lightbox.js')}}"></script>
{% endblock %}